header {
  height: 68px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.bar,
.bar1,
.bar2 {
  width: 30px;
  height: 3px;
  background-color: var(--Black, #232221);
  margin: 5px;
  transition: ease-out 0.5s;
  border-radius: 4px;
}
.bar1 {
  transform: rotate(-45deg) translate(-6px, 0px);
  transition: ease-out 0.5s;
}
.bar2 {
  transform: rotate(45deg) translate(-5px, 0px);
  transition: ease-out 0.5s;
}

.logo {
  width: 130px;
  height: 27.766px;
  flex-shrink: 0;
  background: url("../logo/Logo\ Igralishte\ final\ version\ 1.png"),
    white 0px 0px / 100% 100% no-repeat;
}

.search-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  background: url("../logo/fluent_search-48-regular.png");
}

.modal-overlay {
  position: fixed;
  top: 68px;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  display: block;
}
.modal {
  right: 0;
  top: 68px;
  display: block;
  max-height: calc(100vh - 45px);
  overflow-y: auto;
}
.modal-transition {
  transition: right 0.5s ease-in-out;
}

.modal-overlay.open {
  display: flex;
}

.modal.open {
  transform: translateX(0);
}
.modal ul li {
  color: var(--Black, #232221);
  font-family: Cormorant Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.242px;
  cursor: pointer;
  margin-bottom: 10px;
}
.cart {
  border-radius: 6.242px;
  border: 0.624px solid var(--Light-grey, #c2c2c2);
  background: var(--Light-ribbon-pink, #fff6f6);
  box-shadow: 0px 0px 1.87248px 0px #c2c2c2;
  width: 45px;
  height: 45px;
  position: relative;
}
.cart img {
  width: 30px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heart {
  border-radius: 6.242px;
  border: 0.624px solid var(--Light-grey, #c2c2c2);
  background: var(--White, #fdfdfd);
  box-shadow: 0px 0px 1.87248px 0px #c2c2c2;
  width: 45px;
  height: 45px;
  text-align: center;
  position: relative;
}
.heart img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 7px;
  bottom: 6px;
}
.ph-user {
  border-radius: 6.242px;
  border: 0.624px solid var(--Fancy-olive, #8a8328);
  background: var(--White, #fdfdfd);
  box-shadow: 0px 0px 1.87248px 0px #c2c2c2;
  width: 45px;
  height: 45px;
  text-align: center;
}
.ph-user img {
  width: 30px;
  height: 30px;
}

/* Modal Search */

.search-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  display: block;
}

.search-icon-modal {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../logo/fluent_search-48-regular.png");
}
.x-search {
  position: relative;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
}
.x-search svg {
  position: absolute;
  top: 6px;
  left: 7px;
}
.li-olive {
  color: var(--Fancy-olive, #8a8328);
}
.sparksSmallAll {
  width: 36.925px;
  height: 36.546px;
  position: absolute;
  left: 10px;
}
.sparksSmallAllBrands {
  width: 36.925px;
  height: 36.546px;
  position: absolute;
  left: 20px;
  top: 118px;
}
